<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <% blogs.forEach(element => { %>
         <h4><%= element.title %> </h4>
         <p> <%= element.snippet %> </p>
        <% }) %>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
